{% extends '::layout.html.twig' %}

		{% block content %}

		<!-- start banner Area -->
		<section class="banner-area relative" id="home">	
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row d-flex align-items-center justify-content-center">
					<div class="about-content col-lg-12">
						<h1 class="text-white">
							Informations			
						</h1>
						<p class="text-white link-nav"><a href="{{ path('app_booking') }}">Réservation</a>  <span class="lnr lnr-arrow-right"></span>  Informations</p>
					</div>											
				</div>
			</div>
		</section>
		<!-- End banner Area -->

		<div class="whole-wrap">
			<div class="container">
				<div class="section-top-border">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-8 col-md-8">
							{{ form_start(form ) }}
			                {{ form_errors(form ) }}

			                <div class="form-group">
			                    {{ form_label(form.tickets) }}
			                    {{ form_errors(form.tickets) }}
			                    {{ form_widget(form.tickets) }}
			                </div>

			                <div class="form-group">
			                    {{ form_label(form.email) }}
			                    {{ form_errors(form.email) }}
			                    {{ form_widget(form.email) }}
			                </div>

			                <div class="form-group">
			                    {{ form_label(form.cgv) }}
			                    {{ form_errors(form.cgv) }}
			                    {{ form_widget(form.cgv) }}
			                </div>

			                {{ form_rest(form) }}

			                <a href="{{ path('app_booking') }}" class="mt-4 genric-btn info-border circle arrow">Retour</a>
							<button type="submit" class="mt-4 genric-btn info-border circle arrow pull-right">Continuer<span class="lnr lnr-arrow-right"></span></button>

							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
		</div>

		{% endblock %}