<!DOCTYPE html>
<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>{% block title %}Musée du Louvre{% endblock %}</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
	
		<!-- CSS ====================================== -->
		<link rel="stylesheet" href="{{ asset('bundles/app/template/css/linearicons.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/app/template/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/app/template/css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/app/template/css/magnific-popup.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/app/template/css/nice-select.css') }}">					
		<link rel="stylesheet" href="{{ asset('bundles/app/template/css/animate.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/app/template/css/owl.carousel.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/app/template/css/main.css') }}">
		{% block steelshit %}{% endblock %}
	</head>
	<body>
		{% include ':sections:header.html.twig' %}

		{% block content %}
		{% endblock %}

		{% include ':sections:footer.html.twig' %}

		<script src="{{ asset('bundles/app/template/js/vendor/jquery-2.2.4.min.js') }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="{{ asset('bundles/app/template/js/vendor/bootstrap.min.js') }}"></script>			
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
		<script src="{{ asset('bundles/app/template/js/easing.min.js') }}"></script>			
		<script src="{{ asset('bundles/app/template/js/hoverIntent.js') }}"></script>
		<script src="{{ asset('bundles/app/template/js/superfish.min.js') }}"></script>	
		<script src="{{ asset('bundles/app/template/js/jquery.ajaxchimp.min.js') }}"></script>
		<script src="{{ asset('bundles/app/template/js/jquery.magnific-popup.min.js') }}"></script>	
		<script src="{{ asset('bundles/app/template/js/owl.carousel.min.js') }}"></script>	
		<script src="{{ asset('bundles/app/template/js/imagesloaded.pkgd.min.js') }}"></script>
		<script src="{{ asset('bundles/app/template/js/justified.min.js') }}"></script>					
		<script src="{{ asset('bundles/app/template/js/jquery.sticky.js') }}"></script>
		<script src="{{ asset('bundles/app/template/js/jquery.nice-select.min.js') }}"></script>			
		<script src="{{ asset('bundles/app/template/js/parallax.min.js') }}"></script>		
		<script src="{{ asset('bundles/app/template/js/mail-script.js') }}"></script>	
		<script src="{{ asset('bundles/app/template/js/main.js') }}"></script>
		{% block js %}{% endblock %}
	</body>
</html>